{
  "extends": [
    "plugin:vue/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["t"] }],
    "func-names": ["as-needed"],
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  }
}